[Unit]
Description=Lightweight Kubernetes - Master
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
EnvironmentFile={{ sysconfig_file }}
ExecStartPre=/sbin/modprobe br_netfilter
ExecStartPre=/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server $CLUSTER_ARGS $ADDITIONAL_ARGS $NODE_ARGS
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
