---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ local_pv_name }}
spec:
  capacity:
    storage: {{ local_pv_size }}
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ local_pv_dir }}/{{ local_pv_name }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ ansible_fqdn }}
