kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  labels:
    app: nfs-provisioner
  name: {{ nfs_share_name }}
  annotations:
    storageclass.kubernetes.io/is-default-class: 'true'
provisioner: selfhosting-lab.com/nfs
mountOptions:
  - vers=4.1
reclaimPolicy: Delete
volumeBindingMode: Immediate
