################################################################################
################################## DEPLOYMENT ##################################
################################################################################

# Image
image: traefik
imageTag: {{ traefik_version }}

# Secure
rbac:
  enabled: true

# Networking
serviceType: NodePort
externalTrafficPolicy: Cluster
loadBalancerSourceRanges: []
whiteListSourceRange: false

# Pod configuration
deployment:
  podAnnotations:
    linkerd.io/inject: enabled
  podLabels: {}
  hostPort:
    httpEnabled: true
    httpPort: 80
    httpsEnabled: true
    httpsPort: 443
    dashboardEnabled: false
nodeSelector: {}
affinity: {}
resources: {}
securityContext: {}
priorityClassName: ""

# Changes
deploymentStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1

# Scalability
replicas: 1

# Service object
service:
  annotations: {}
  labels: {}
  nodePorts:
    http: 30000
    https: 30001
  #hostPorts:

# Launch configuration
startupArguments: []
  # - "--ping"
  # - "--ping.entrypoint=http"
env: {}


################################################################################
################################### LOGGING ####################################
################################################################################

# Application logs
logLevel: info # debug, info, warn, error, fatal, panic
debug:
  enabled: false

# Access logs
accessLogs:
  enabled: false
  filepath: ""
  format: common # common, json
  fields:
    defaultMode: keep
    names: {} # field names as keys, and `keep` or `drop` as value
    headers:
      defaultMode: keep
      # HTTP header names as keys, and `keep`, `drop` or `redact` as value
      names: {}

################################################################################
################################## MONITORING ##################################
################################################################################

# Metrics
metrics:
  prometheus: # metrics-port:8080/metrics
    enabled: true
    restrictAccess: true
    buckets: [0.1,0.3,1.2,5]

# Tracing
tracing:
  enabled: false
  backend: jaeger
  serviceName: traefik
  jaeger:
    localAgentHostPort: 127.0.0.1:6831
    samplingServerUrl: http://localhost:5778/sampling
    samplingType: const # const, probabilistic, ratelimiting
    samplingParam: 1.0
  responding:
    readTimeout: 0
    writeTimeout: 0
    idleTimeout: 0
  forwarding:
    dialTimeout: 30
    responseHeaderTimeout: 30

# Provider analytics
sendAnonymousUsage: false

{% if traefik_dashboard and traefik_dashboard.enabled %}
# Dashboard configuration
dashboard:
  enabled: true
  domain: {{ traefik_dashboard.subdomain | default('traefik') }}.{{ traefik_domain }}
  serviceType: ClusterIP
  service:
    annotations: {}
  ingress:
    annotations:
      kubernetes.io/ingress.class: {{ traefik_ingress_class }}
    labels:
      realm: public
  statistics:
    recentErrors: 10
  auth:
    basic:
      admin: '$apr1$y0ejiVsK$gqf7AdqBs/me5wB7JPzjA0' # password
{% endif %}

################################################################################
################################# CERTIFICATES #################################
################################################################################

# HTTPS configuration
ssl:
  enabled: true
  enforced: true
  permanentRedirect: true
  upstream: false
  insecureSkipVerify: true
  tlsMinVersion: VersionTLS12
  cipherSuites: []
  sniStrict: false

  generateTLS: false

  # auth:
  #   basic:
  #     admin: '$apr1$y0ejiVsK$gqf7AdqBs/me5wB7JPzjA0' # password

{% if traefik_certificates and traefik_certificates.enabled %}
# Let's Encrypt certificate generation
acme:
  enabled: true
  staging: {{ traefik_certificates.staging | default(false) }}
  logging: false
  email: {{ traefik_certificates.email | default("admin@%s" % traefik_domain) }}

  delayBeforeCheck: 15

  onHostRule: false # Whether to generate a certificate for each frontend with Host rule

  domains:
    enabled: true
    domainsList:
      - main: '*.{{ traefik_domain }}'

  challengeType: {{ traefik_certificates.challenge.type | default('dns-01') }}
{% if traefik_certificates.challenge.type == 'dns-01' %}
  dnsProvider:
    name: {{ traefik_certificates.challenge.provider.type | default('cloudflare') }}
{% if 'secret' in traefik_certificates.challenge.provider and traefik_certificates.challenge.provider.secret %}
    existingSecretName: {{ traefik_certificates.challenge.provider.secret }}
{% elif 'credentials' in traefik_certificates.challenge.provider%}
    {{ traefik_certificates.challenge.provider.type | default('cloudflare') }}:
{% for key, value in traefik_certificates.challenge.provider.credentials.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% endif %}

  # DNS servers list to use for DNS challenge
  resolvers:
    - 1.1.1.1:53

  # Data persistence for certificates
  persistence:
    enabled: true
    annotations: {}
    accessMode: ReadWriteMany
    size: 500Mi
    storageClass: {{ traefik_storageclass }}
{% endif %}

################################################################################
################################### INGRESS ####################################
################################################################################

# Ingress filter
kubernetes:
  ingressClass: {{ traefik_ingress_class }}
  ingressEndpoint:
    useDefaultPublishedService: true

################################################################################
#################################### EXTRAS ####################################
################################################################################

# Generic configuration
configFiles: {}
  # myconfig.json: |
    # filecontents...
secretFiles: {}
  # mysecret.txt: |
    # filecontents...

# CAs used for trusting backends
rootCAs: []

################################################################################
############################## HTTP CONFIGURATION ##############################
################################################################################

# GZip compression
gzip:
  enabled: true

# Timeouts
timeouts:
  responding:
    readTimeout: 0
    writeTimeout: 0
    idleTimeout: 180
  forwarding:
    dialTimeout: 30
    responseHeaderTimeout: 0

# Proxy
proxyProtocol:
  enabled: false
  trustedIPs: []

# Accepted headers
forwardedHeaders:
  enabled: false
  trustedIPs: []

# Forward authorisation
# forwardAuth:
#   entryPoints: [] # http, https, httpn
#   address: https://authserver.com/auth
#   # Trust X-Forwarded-* headers
#   trustForwardHeader: true
